body {
  -webkit-font-smoothing: antialiased !important;
}

.github-fork-ribbon.right-bottom:before {
  background-color: #666;
}

.ui.statistic.block_number > .value {
  font-size: 2.4rem !important;
  line-height: 4rem !important;
}

i.icon.game:before {
  margin-left: -0.1rem;
}

/* RSP */


@font-face {
  font-family: "Core Sans G";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansG-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Core Sans G";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansG-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Core Sans G";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansG-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Core Sans G";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansG-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Core Sans G";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansG-Heavy.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Core Sans E";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansE-65Bold.otf") format("opentype");
  font-weight: 600;
}
.rsp-button {
  position: relative;
  max-width: 350px;
  /* max-height: 180px; */
  /* height: 51.43%; */
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.rsp-button>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rsp-button>img.rsp-button-default {
  width: 100%;
  position: initial;
  z-index: 2;
}

.rsp-button:hover>img.rsp-button-hover {
  z-index: 2;
}

.rsp-button:active>img.rsp-button-active {
  z-index: 2;
}

.rsp-button>.caption-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.caption-wrapper>.caption {
  max-width: 90%;
  margin-top: -3.2%;
}

/**  Splash  **/
.screen-wrapper {
  position: relative;
  height: 100%;
}

.splash-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.game-title {
  height: 39%;
}
.hands-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.scissor {
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
  height: 33%;
  margin-left: -22%;
  margin-top: 42%;
}
.paper {
  transform: rotate(16.47deg);
  height: 33%;
  margin-left: 21%;
  margin-top: 37%;
}
.start-button {
  width: 18.23%;
  height: 16%;
  margin-top: -3%;
}

/** Start Screen **/
.start-screen-main-section-wrapper {
  display: flex;
  justify-content: space-evenly;
  aspect-ratio: 28 / 10;
}

/** AssetWidget **/
.asset-widget-wrapper {
  position: relative;
  aspect-ratio: 250 / 100;
  width: 13.0208%;
}

.asset-widget {
  width: 100%;
  display: flex;
  position: relative;
  background: #FFFFFF;
  border-radius: 20vw;
  aspect-ratio: 250 / 100;
  align-items: center;
}

.asset-widget-shadow {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: 6%;
}

.asset-widget-image-container {
  width: 30%;
  margin-left: 4%;
  display: flex;
}

.asset-widget-image {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.asset-widget-text-container {
  font-family: 'Core Sans G';
  font-style: normal;
  font-weight: 900;
  /* font-size: 25%; */
  line-height: 1;
  color: #353535;
  display: flex;
  width: 60%;
  text-align: center;
  margin-right: 10%;
}

/** Assets Widgets **/
.assets-widgets-wrapper {
  display: flex;
  padding: 3.125%;
  column-gap: 3.385%;
  justify-content: center;
}

/** Higscore **/
.highscore-wrapper {
  font-family: 'Core Sans G';
  width: 25%;
  color: #fff;
  fill: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.highscore-header {
  font-style: normal;
  font-weight: 900;
  /* font-size: 80px; */
  line-height: 80%;
  text-align: center;
  width: 80%;
  margin-bottom: 12.5%;
}

.highscore-name {
  font-family: 'Core Sans E';
  font-style: normal;
  font-weight: 600;
  width: 138.125%;
  margin-bottom: 2%;
}

.highscore-score-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2.92%;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
}

.highscore-image-wrapper {
  width: 14.58%;
}

.highscore-image {
  width: 100%;
  object-fit: contain;
}

.highscore-score {
  width: 28.5417%;
  font-family: 'Core Sans G';
  font-style: normal;
  font-weight: 900;
  display: flex;
}
.highscore-button-wrapper {
  width: 58.7%;
}

/** Rules **/
.rules-wrapper {
  font-family: 'Core Sans G';
  width: 25%;
  color: #fff;
  fill: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rules-header{
  width: 42.9167%;
  font-style: normal;
  font-weight: 900;
  /* font-size: 80px; */
  line-height: 80%;
  text-align: center;
  margin-bottom: 3%;
}

.rules-image-wrapper {
  width: 100%;
}
.rules-image {
  width: 100%;
  object-fit: contain;
}

.start-screen-btn-wrapper {
  width: 18.22917%;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-screen-btn-wrapper > div.asset-widget-wrapper {
  aspect-ratio: 137 / 80;
  width: 39.1428571428571%;
  margin-top: -14%;
  z-index: 2;
}
.start-screen-btn-wrapper > div.asset-widget-wrapper > div.asset-widget {
  aspect-ratio: 137 / 80;
}

.start-screen-btn-wrapper > div.asset-widget-wrapper > div.asset-widget > div.asset-widget-image-container {
  width: 45%;
  margin-left: 4%;
}
.start-screen-btn-wrapper > div.asset-widget-wrapper > div.asset-widget > div.asset-widget-text-container {
  width: 45%;
}

/** Score Widget **/
.score-dot-wrapper {
  /* width: 3.229167%; */

}

.score-widget {
  display: flex;
  column-gap: 2.857142857142857%;
}

/** Footer **/
.footer-score-title {
  font-family: 'Core Sans G';
  font-style: normal;
  font-weight: 900;
  fill: #fff;
  width: 100%;
}

.footer-score-wrapper { /* width: 1672 px */
  display: flex;
  width: 87.083333333333333%;
  /* margin-left: 14.786788034446291%; */
  column-gap: 13.755980861244019%;
}

.footer-score { /* 350 px*/
  width: 20.933014354066986%;
}

.footer-score:first-child { /* 350 px*/
  margin-left: 14.772727272727273%;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 2.62963%;
}

.footer-btn-wrapper { /* 248 px*/
  width: 12.916666666666667%;
  display: flex;
  justify-content: flex-end;
}

.footer-btn { /* width: 12.999474237644585% */
  width: 67.741935483870968%;
  /* margin-left: 4.166666666666667%; */
  margin-top: 43.5%;
}

/**  Choose Button  **/
.choose-button {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  cursor: pointer;
}
.choose-button>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  visibility: hidden;
}

.choose-button>img.choose-button-type {
  visibility: visible;
  z-index: 2;
  padding: 2.6%;
}

.choose-button>img.choose-button-default {
  visibility: visible;
}

.choose-button:hover>img.choose-button-hover {
  visibility: visible;
}

.choose-button:active>img.choose-button-active {
  visibility: visible;
}

/** ChooseSection **/
.choose-section-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 3.333333333333333%; /* 36 px */
}
.choose-section-chooser {
  display: flex;
  width: 57.291666666666667%; /* 1100 px */
  column-gap: 7.272727272727273%; /* 80 px */
  justify-content: center;
}
.choose-section-chooser > .choose-button-wrapper {
  width: 20%;
}

.choose-section-header {
  font-family: 'Core Sans G';
  font-style: normal;
  font-weight: 900;
  width: 27.395833333333333%;
  fill: #fff;
  margin-bottom: 1.875%;
}

/**  Game Screen  **/
.game-screen-wrapper {
  display: flex;
  flex-direction: column;
}
.game-screen-header {
  height: 15%;
}
.game-screen-main {
  height: 61%;
  display: flex;
  align-items: center;
}
.game-screen-footer {
  height: calc(100% - 15% - 61%);
}

/** Game Hands **/
.game-hands-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.game-scissor-left {
  height: 33%;
  margin-left: -15%;
  margin-top: 42%;
}
.game-paper-left {
  height: 33%;
  margin-left: -18%;
  margin-top: 37%;
}
.game-rock-left {
  height: 33%;
  margin-left: -10%;
  margin-top: 37%;
}
.game-scissor-right {
  height: 33%;
  margin-left: 21%;
  margin-top: 37%;
}
.game-paper-right {
  height: 33%;
  margin-left: 17%;
  margin-top: 33%;
}
.game-rock-right {
  height: 33%;
  margin-left: 15%;
  margin-top: 37%;
}

.game-start-button {
  width: 18.23%;
  height: 16%;
  margin-top: -3%;
}

.left-hand-wrapper>img {
  transform: matrix(-1, 0, 0, 1, 0, -14);
}


@keyframes shake-right {
  from {  transform: rotate(0.05turn); transform-origin: 100% 70%;  }
  50% {  transform: rotate(-0.05turn); transform-origin: 100% 70%;  }
  to   {  transform: rotate(0.05turn); transform-origin: 100% 70%; }
}

@keyframes shake-left {
  from {  transform: matrix(-1, 0, 0, 1, -300, -10) rotate(0.05turn); transform-origin: 100% 70%; }
  50% {  transform: matrix(-1, 0, 0, 1, -300, -10) rotate(-0.05turn); transform-origin: 100% 70%; }
  to   {  transform: matrix(-1, 0, 0, 1, -300, -10) rotate(0.05turn); transform-origin: 100% 70%; }
}

.game-shake {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.game-shake-right {
  animation-name: 'shake-right';
}
.game-shake-left {
  animation-name: 'shake-left';
}

.round-section-wrapper {
  width: 100%;
}

.round-section-result-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
}

.round-section-result-intermediate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-section-result-intermediate-button {
  width: 18.229166666666667%;
  margin-top: 3.645833333333333%;
}

.round-section-result-intermediate-header {
  font-family: 'Core Sans G';
  font-style: normal;
  font-weight: 900;
  fill: #fff;
  width: 22.916666666666667%; /* 440 px */
}
