.github-fork-ribbon.right-bottom:before {
  background-color: #666;
}

.ui.statistic.block_number > .value {
  font-size: 2.4rem !important;
  line-height: 4rem !important;
}

i.icon.game:before {
  margin-left: -0.1rem;
}

/* RSP */


@font-face {
  font-family: "Core Sans G";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansG-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Core Sans G";
  src: url("/finalbiome/finalbiome-frontend-dev/assets/fonts/CoreSansG-Bold.ttf") format("truetype");
  font-weight: bold;
}

.rsp-button {
  position: relative;
  max-width: 350px;
  /* max-height: 180px; */
  /* height: 51.43%; */
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.rsp-button>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rsp-button>img.rsp-button-default {
  visibility: unset;
}

.rsp-button:hover>img.rsp-button-default {
  visibility: hidden;
}

.rsp-button:active>img.rsp-button-default {
  visibility: hidden;
}

.rsp-button>img.rsp-button-hover {
  visibility: hidden;
}

.rsp-button:hover>img.rsp-button-hover {
  visibility: unset;
}

.rsp-button:active>img.rsp-button-hover {
  visibility: hidden;
}

.rsp-button>img.rsp-button-active {
  visibility: hidden;
}

.rsp-button:hover>img.rsp-button-active {
  visibility: hidden;
}

.rsp-button:active>img.rsp-button-active {
  visibility: unset;
}

.rsp-button>.caption-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.caption-wrapper>.caption {
  max-width: 90%;
  margin-top: -3.2%;
}

/**  Splash  **/
.splash-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.game-title {
  height: 39%;
}
.hands-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.scissor {
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
  height: 33%;
  margin-left: -22%;
  margin-top: 42%;
}
.paper {
  transform: rotate(16.47deg);
  height: 33%;
  margin-left: 21%;
  margin-top: 37%;
}
.start-button {
  width: 18.23%;
  height: 16%;
  margin-top: -3%;
}
